<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>fleamarket</display-name>
 <!-- <filter>
  	<filter-name>authCheckFilter</filter-name>
  	<filter-class>fleamarket.AuthCheckFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>authCheckFilter</filter-name>
  	<url-pattern>/authCheckFilter</url-pattern>
  </filter-mapping> -->
  <filter>
  	<filter-name>charSetFilter</filter-name>
  	<filter-class>fleamarket.CharSetFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>charSetFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
  	<servlet-name>addServlet</servlet-name>
  	<servlet-class>fleamarket.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>addServlet</servlet-name>
  	<url-pattern>/addServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>detailServlet</servlet-name>
  	<servlet-class>fleamarket.DetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>detailServlet</servlet-name>
  	<url-pattern>/detailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>editServlet</servlet-name>
  	<servlet-class>fleamarket.EditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>editServlet</servlet-name>
  	<url-pattern>/editServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>listServlet</servlet-name>
  	<servlet-class>fleamarket.ListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>listServlet</servlet-name>
  	<url-pattern>/listServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>loginServlet</servlet-name>
  	<servlet-class>fleamarket.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>loginServlet</servlet-name>
  	<url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>logoutServlet</servlet-name>
  	<servlet-class>fleamarket.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>logoutServlet</servlet-name>
  	<url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>post</servlet-name>
  	<servlet-class>fleamarket.Post</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>post</servlet-name>
  	<url-pattern>/post</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>registerServlet</servlet-name>
  	<servlet-class>fleamarket.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>registerServlet</servlet-name>
  	<url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>removeServlet</servlet-name>
  	<servlet-class>fleamarket.RemoveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>removeServlet</servlet-name>
  	<url-pattern>/removeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>searchServlet</servlet-name>
  	<servlet-class>fleamarket.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>searchServlet</servlet-name>
  	<url-pattern>/searchServlet</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <description>Oracle Datasource example</description>
 	<res-ref-name>jdbc/mybatis</res-ref-name>
 	<res-type>javax.sql.DataSource</res-type>
 	<res-auth>Container</res-auth>
  </resource-ref>

</web-app>